{% load thumbnail %}
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">Main Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'ads-list' %}">Ads list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
          </li>
            {% if seller %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'seller-update' %}" target="_blank">Seller Update</a>
          </li>
            {% endif %}
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
            {% if seller %}
                {% thumbnail seller.avatar "100x100" crop="center" as im %}
                    <img src="{{ im.url }}" width="50px" height="50px">
                {% endthumbnail %}
                <p style="color:white;">{{ seller.user.username }}</p>
            {% endif %}

        </form>
      </div>
    </div>
  </nav>
</header>