{% extends 'main/base.html' %}
{% block title %}Create add{% endblock %}
{% block content %}

<div class="container mt-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h4>Create Ad</h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                {{ form.as_p }}
                <h5 class="text-info">Add Ad Pics</h5>
                {{ ads_picture_formset.as_p }}
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-info">Submit</button>
        </div>
    </form>
</div>

{% endblock %}


