{% extends 'main/base.html' %}
{% block title %} List of Ads {% endblock %}
{% block content %}

<h1>Ads</h1>
<div class="row">
    <div class="col-10">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Category</th>
                  <th scope="col">Seller</th>
                  <th scope="col">Price</th>
                  <th scope="col">Tags</th>
                </tr>
              </thead>
              <tbody>
                {% for ad in object_list %}
                    <tr>
                      <th scope="row">{{ ad.id }}</th>
                      <td>
                          <a href="{{ ad.get_absolute_url }}">{{ ad.name }}</a>
                      </td>
                      <td>{{ ad.description }}</td>
                      <td>{{ ad.category.name }}</td>
                      <td>{{ ad.seller.user.username }}</td>
                      <td>{{ ad.price }}</td>
                      <td>
                         {% for tag in ad.tags.all %}
                           <span class="badge bg-primary">{{ tag.name }}</span>
                         {% endfor %}
                      </td>
                    </tr>
                {% empty %}
                    <li>No ads yet.</li>
                {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
    <div class="col-2">
        <h4>Tags</h4>
        {% for tag in all_tags_list %}
            <a href="?tag={{ tag.name }}"><span class="badge bg-success">{{ tag.name }}</span></a>
        {% endfor %}
    </div>
  </div>


{% if is_paginated %}
<hr>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-sm">
        {% if page_obj.has_previous %}
          <li class="page-item">
              <a class="page-link" href="{% url 'ads-list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        {% for object in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="{% url 'ads-list' %}?tag={{ query_tag }}&page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% url 'ads-list' %}?tag={{ query_tag }}&page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}


